<h2>Gallery</h2>

<div class="container">
    <ul class="imgContainer">
        <li class="imgFrame">
            <img src="~/Content/Images/184724_10150103981857161_6113222_n.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee"></p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="~/Content/Images/24852115_1960577184184428_8479353838393166380_n.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee"></p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="~/Content/Images/A95S7824.JPG" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee"></p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="~/Content/Images/meeting the ambassador of Kosovo.JPG" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">Среща с посланика на Косово</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="~/Content/Images/plevneliev.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee"></p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="~/Content/Images/11051888_746069442181145_383118418086505678_n.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee"></p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="~/Content/Images/3P1A7123.JPG" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee"></p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="~/Content/Images/3P1A5166.JPG" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee"></p></div>
            </div>
        </li>
    </ul>
</div>