<h2>Gallery</h2>

<div class="container">
    <ul class="imgContainer">
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">image title</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">if image title is looooooooong ...</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">image title</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">image title</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">image title</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">image title</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">image title</p></div>
            </div>
        </li>
        <li class="imgFrame">
            <img src="/Content/Images/blackLogo.jpg" alt="" class="img">
            <div class="imgExplanation">
                <div class="marqueePositionBase"><p class="marquee">image title</p></div>
            </div>
        </li>
    </ul>
</div>