@*<section id="gallery">
    <div class="photo">
        <img id="photo1" src="https://image.ibb.co/iCfuuJ/town.jpg" class="shown" />
        <img id="photo2" src="https://images.unsplash.com/photo-1464692805480-a69dfaafdb0d?auto=format&fit=crop&w=750&q=80" class="shown" />
    </div>
</section>*@

<img src="~/Content/Images/clientLogos.png" width="100%" />

<div class="jumbotron">
    <p>
        Посолство на Израел в България,  Агритаск, ДП РВД, Двунационална Търговска Камара България-Израел, Алфалфа, Вилдомстрой и проект Плиска, Интермекс, Хубика, А.З.К. Пропъртис и проект Плана Хайтс, Интерстрой Юнион, Елкомерс, Традео
    </p>
</div>


<script type="text/javascript" src="~/Scripts/homeGallery.js"></script>
