<h2>Key clients</h2>

<section id="gallery">
    <div class="photo">
        <img id="photo1" src="https://image.ibb.co/iCfuuJ/town.jpg" class="shown" />
        <img id="photo2" src="https://images.unsplash.com/photo-1464692805480-a69dfaafdb0d?auto=format&fit=crop&w=750&q=80" class="shown" />
    </div>
</section>

info about the client

<script type="text/javascript" src="~/Scripts/homeGallery.js"></script>
