<h1 class="text-center">Контакти</h1>

<div class="jumbotron col-md-6">
    <div class="col-md-6">
        <h2>Emil Magrisso</h2>
        <h3>+359 887 376 816</h3>
        <a href="mailto:emagrisso@gmail.com">emagrisso@gmail.com</a>
    </div>
    <div class="col-md-6">
        <h2>Dona Valchkova</h2>
        <h3>+359 882 50 80 64</h3>
        <a href="mailto:dvalchkova@gmail.com">dvalchkova@gmail.com</a>
    </div>
</div>

<iframe class="col-md-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.2916883955004!2d23.288213614948706!3d42.67636322306102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa84dee967e1e1%3A0x931ee7adb4655b2e!2sul.+%22Haydushka+Gora%22+48%D0%90%2C+1680+g.k.+Belite+brezi%2C+Sofia!5e0!3m2!1sen!2sbg!4v1550075528495" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>










