<h1 class="text-center">За компанията</h1>

<div class="jumbotron">
    <p><b>Семма Мениджмънт</b> е компания с разнороден опит в бизнеси от различно естество. Екипът на Семма консултира и подпомага дейности в широк спектър: класически консултантски услуги, организации на събития, бизнес развитие (ИТ, Недвижими Имоти, Земеделие, Медицина, Образование, НПО, Корпоративни Обучения), старт-ъп и др. Компаниите, които Семма Мениджмънт консултира съответно са също разнородни - от Посолства и НПО, през държавни организации и предприятия и до класически корпорации от малък, среден и голям мащаб.</p>
</div>