<img class="text-center" src="~/Content/Images/SEMMA_M-LOGO_TEXT_1.png" />
<br />

@*<section id="gallery">
    <div class="photo">
        <img id="photo1" src="~/Content/Images/LOGOwide.png" class="shown" />
        <img id="photo2" src="~/Content/Images/колаж.jpg" />
    </div>
</section>*@

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 padcol  ">
            <div class="col-3">
                <a href="/About">
                    <img src="~/Content/Images/blackLogo.JPG" class="img-responsive" alt="">
                    <div class="col-pic">
                        <h5>За компанията</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 padcol ">
            <div class="col-3">
                <a href="/Services">
                    <img src="~/Content/Images/original.jpg" class="img-responsive" alt="">
                    <div class="col-pic">
                        <h5>Услуги</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 padcol ">
            <div class="col-3">
                <a href="/Contacts">
                    <img src="~/Content/Images/contactus.jpg" class="img-responsive" alt="">
                    <div class="col-pic">
                        <h5>Контакти</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 padcol ">
            <div class="col-3">
                <a href="/Gallery">
                    <img src="~/Content/Images/22_72.JPG" class="img-responsive" alt="">
                    <div class="col-pic">
                        <h5>Галерия</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 padcol ">
            <div class="col-3">
                <a href="/KeyClients">
                    <img src="~/Content/Images/business_deal-100036341-gallery.jpg" class="img-responsive" alt="">
                    <div class="col-pic">
                        <h5>Ключови клиенти</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 padcol ">
            <div class="col-3">
                <a href="#">
                    <img src="~/Content/Images/board_ceo_executives_table-100717228-large.jpg" class="img-responsive" alt="">
                    <div class="col-pic">
                        <h5>Екип</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/homeGallery.js"></script>
