<section id="gallery">
    <div class="photo">
        <img id="photo1" src="https://i0.wp.com/www.palmbeachcountycta.org/wp-content/uploads/2017/10/website-construction-graphic-4.jpg" class="shown" />
        <img id="photo2" src="https://previews.123rf.com/images/devke/devke1101/devke110100010/8602050-website-under-construction.jpg" />
        <img id="photo4" src="https://image.ibb.co/iCfuuJ/town.jpg" />

    </div>
    <div class="tabs">
        <button class="prev">Prev</button>
        <button class="next">Next</button>
    </div>
</section>

<div class="row">
    <div class="col-md-4">
        <h2>Кои сме ние</h2>
        <p>
            Ние сме компания, която иска да постигне много :)
        </p>
        <p><a class="btn btn-default" href="~/About">За компанията &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Нашите услуги</h2>
        <p>Предлаганите от нас услуги са :ПРЕЦИЗНА АГРОНОМИЯ, КОНСУЛТАНТСКА ДЕЙНОСТ и ИТ АУТСОРСИНГ</p>
        <p><a class="btn btn-default" href="/Services">Услуги &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Контакти</h2>
        <p>Нашият офис се намира на адрес : "гр. Пловдив, ул "Богомил" №34</p>
        <p><a class="btn btn-default" href="Contacts">Контакти &raquo;</a></p>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/homeGallery.js"></script>