<section id="gallery">
    <div class="photo">
        <img id="photo1" src="https://i0.wp.com/www.palmbeachcountycta.org/wp-content/uploads/2017/10/website-construction-graphic-4.jpg" class="shown" />
    </div>
</section>

        <h2>Прецизна Агрономия</h2>

ТЕКСТ
