<h1 class="text-center">Услуги</h1>

<div class="row">
    <div class="col-md-4 ">
        <h2><b>Прецизна Агрномия</b></h2>
        <p>
            Създаваме и поддържаме аграрен софтуер на Agritask, предлагаме агро консултации, умни торове, локалицазия, GPS проследяване и други.
        </p>
    </div>
    <div class="col-md-4">
        <h2><b>Консултантска Дейност</b></h2>
        <p>
            Търговско представителство и бизнес посредничество</br>
            Бизнес консултации, коучинг</br>
            Целеви  корпоративни обичения</br>
            Модели и програми за екипно развитие (Тийм Билдинг)</br>
            Личностно раzвитие (Поведенчески норми, Език на тялото)</br>
            Soft Skills</br>
            Търговски умения</br>
            Превод и легализация</br>
            Правни консултации</br>
            Организиране на събития</br>
        </p>
    </div>
    <div class="col-md-4">
        <h2><b>ИТ Аутсорсинг</b></h2>
        <p>
            Стратегически консултантски услуги, обхващащи целия спектър от ИТ процеси. Стратегическите и оперативни измерения за повишаване на ефективността, организационен дизайн и планиране.
        </p>
    </div>
</div>
