<section id="gallery">
    <div class="photo">
        <img id="photo1" src="https://image.ibb.co/iCfuuJ/town.jpg" class="shown" />
    </div>
</section>

<div class="row">
    <div class="col-md-4">
        <h2>Прецизна Агрномия</h2>
        <p>
            Предлагаме аграрен софтуер на Agritask, агро консултации, умни торове, локалицазия, GPS проследяване и други.
        </p>
        <p><a class="btn btn-default" href="~/Services/Agronomy">Повече &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Консултантска Дейност</h2>
        <p>
            1. ТЪРГОВСКО ПРЕДСТАВИТЕЛСТВО И БИЗНЕС ПОСРЕДНИЧЕСТВО</br>
            ---> СТАРТЪП СЪПОРТ</br>
            2. БИЗНЕС КОНСУЛТАЦИИ, КОУЧИНГ</br>
            ---> ЦЕЛЕВИ КОРПОРАТИВНИ ОБУЧЕНИЯ</br>
            ---> МОДЕЛИ И ПРОГРАМИ ЗА ЕКИПНО РАЗВИТИЕ (ТИЙМ БИЛДИНГ)</br>
            ---> ЛИЧНОСТНО РАЗВИТИЕ (ПОВЕДЕНЧЕСКИ НОРМИ, ЕЗИК НА ТЯЛОТО)</br>
            ---> Soft Skills</br>
            ---> ТЪРГОВСКИ УМЕНИЯ</br>
            3. ПРЕВОДИ И ЛЕГАЛИЗАЦИЯ</br>
            4 ПРАВНИ КОНСУЛТАЦИИ</br>
            5. ОРГАНИЗАЦИЯ НА СЪБИТИЯ</br>

        </p>
        <p><a class="btn btn-default" href="/Services/Consultancy">Повече &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ИТ Аутсорсинг</h2>
        <p>
            Стратегически консултантски услуги, обхващащи целия спектър от ИТ процеси. Можем да се заемем с някои от стратегическите и оперативни измерения, които оказват влияние върху ефективността. Най-добър организационен дизайн и планиране
        </p>
        <p><a class="btn btn-default" href="/Services/Outsourcing">Повече &raquo;</a></p>
    </div>
</div>
